.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #333, #222);
  height: 120px;
  border-top: 3px solid #E33D33;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.footer:hover {
  background: linear-gradient(90deg, #444, #333);
}

.footer span {
  color: #E33D33;
}
